UICollectionViewWorkshop/.idea
UICollectionViewWorkshop/UICollectionViewWorkshop.xcodeproj/xcuserdata
UICollectionViewWorkshop/UICollectionViewWorkshop.xcworkspace/xcuserdata
UICollectionViewWorkshop/Pods/Pods.xcodeproj/xcuserdata
